body{
  background: url(/space.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  animation: background 2s;
}
@keyframes background {
  50%{
    transform: translateX(250px);
  }
  100%{
    transform: translateX(500px);
  }
}
